# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

src/Messbauer_CAMAC_Controller/db/

*.bak

src/Messbauer_CAMAC_Controller/output_files/

src/Messbauer_CAMAC_Controller/incremental_db/compiled_partitions/

src/Messbauer_CAMAC_Controller/incremental_db/

src/Messbauer_CAMAC_Accumulator/db/

src/Messbauer_CAMAC_Accumulator/incremental_db/

src/Messbauer_CAMAC_Accumulator/output_files/

src/Messbauer_CAMAC_Accumulator/simulation/
